<div class="ttc-footer">

  <div class="cols">

    <div class="tncCol">
      <a href="#">Terms & Conditions</a> <br> <br>
      <a href="#">Privacy Policy</a> <br> <br>
      <a href="#">Help Center</a> <br> <br>
    </div>

    <div class="aboutCol">
      <a href="#">About Us</a> <br>
    </div>

    <div class="socialsCol">
      <div class="logo-img-div">
        <img src="assets/images/Icon-FB.png" alt="Facebook Logo" class="logo-img" width="100%" height="100%">
      </div>
      <div class="logo-img-div">
        <img src="assets/images/Icon-IG.png" alt="Instagram Logo" class="logo-img" width="100%" height="100%">
      </div>
      <div class="logo-img-div">
        <img src="assets/images/Icon-TW.png" alt="Twitter Logo" class="logo-img" width="100%" height="100%">
      </div>
      <div class="logo-img-div">
        <img src="assets/images/Icon-YT.png" alt="YouTube Logo" class="logo-img" width="100%" height="100%">
      </div>
    </div>
  </div>

  <p class="copyright">Copyright 2020 Tiny Techs Club</p>

</div>