<div class="container">
  <img src="assets/images/expect-in-classes.png">
  
  <div class="textDiv">
    <h1>What to Expect in Classes</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Accumsan, 
      adipiscing gravida id sed nunc vulputate. Et viverra id risus pellentesque 
      malesuada. Ornare faucibus neque nisl, scelerisque eget sit feugiat tellus 
      velit. Laoreet facilisi interdum quis amet massa ut vel consequat. Porttitor 
      imperdiet mattis massa vulputate convallis dictum lacus vehicula. 
    </p>
  </div>
</div>