.header {
    height: 50px;
    width: 100%;
    background-color: var(--ion-color-TTCLime);
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.header:hover{
    background-color: var(--ion-color-TTCLimeClick);
 }
.header-title{
    position: absolute;
    top: 32%;
    bottom: 30%;
    width: 900px;

    /* 14pt Field Text */

    font-family: "Poppins Regular";
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    /* Gray 1 */

    color: #333333;
}
.button{
    margin-right: 90%;
}
@media (max-width: 1066px){
    .button{
        margin-right: 90%;
    }
}
@media (max-width: 1000px){
    .button{
        margin-right: 88%;
    }
}
@media (max-width: 640px){
    .header-title{
        position: absolute;
        top: 32%;
        bottom: 30%;
        width: 900px;
    
        /* 14pt Field Text */
    
        font-family: "Poppins Regular";
        font-size: 10px;
        line-height: 21px;
        text-align: center;
    
        /* Gray 1 */
    
        color: #333333;
    }
}
@media (max-width: 450px){
    .header-title{
        position: absolute;
        top: 32%;
        bottom: 30%;
        width: 900px;
    
        /* 14pt Field Text */
    
        font-family: "Poppins Regular";
        font-size: 7px;
        line-height: 21px;
        text-align: center;
    
        /* Gray 1 */
    
        color: #333333;
    }
}