<div class="ttc-body">
  <div>
    <!-- <lottie-player src="https://assets9.lottiefiles.com/temp/lf20_LXKeBI.json"  background="transparent"  speed="1"  style="width: 600px; height: 300px;"  loop  autoplay></lottie-player> -->
    <p  class="confirmationtitle">See you there!</p>
    <p class="confirmationsubtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Sed consectetur a, arcu senectus morbi. Enim fermentum tortor 
      egestas maecenas feugiat amet a. Pellentesque enim la cus at commodo.</p>
    <div style="text-align: center; margin-top: 26px;">
      <div class="grid-container">
        <div class="grid-item">
          <img class="googlecalendar" src="assets/images/googleCalendar.png" alt="google calendar">
        </div>
        <div class="grid-item">
          <p class="addcalendar">Add to Google Calendar</p>
        </div>
        </div>
      </div>
    </div>
    <div class="bottomgridcontainer">
      <div class="bottomgriditem" id="topleft">
        <div style="background-color: rgb(227,186,45);" class="calendarbackground">
          <img class="calendarimage" src="assets/images/calendar.png" alt="calendar">
          <div class="calendareventgroup">
            <p class="calendareventtitle">Event Title</p>
            <p class="calendareventdetail">24th July, 2020</p>
            <p class="calendareventdetail">Time (ET/Time (PT)</p>
            <p class="calendareventdetail">Zoom</p>
          </div>
        </div>
        <p class="calendareventmonth">July</p>
        <p class="calendareventdate" class="topleftnum">24</p>
        <p class="calendareventday">Friday</p>
      </div>
      <div class="bottomgriditem" id="topright">
        <div style="background-color: #F39D9E;" class="calendarbackground">
          <img class="calendarimage" src="assets/images/calendar.png" alt="calendar">
          <div class="calendareventgroup">
            <p class="calendareventtitle">Event Title</p>
            <p class="calendareventdetail">24th July, 2020</p>
            <p class="calendareventdetail">Time (ET/Time (PT)</p>
            <p class="calendareventdetail">Zoom</p>
          </div>
        </div>
        <p class="calendareventmonth">Aug</p>
        <p class="calendareventdate" class="toprightnum">7</p>
        <p class="calendareventday">Friday</p>
      </div>
      <div class="bottomgriditem" id="botleft">
        <div style="background-color: #F39D9E;" class="calendarbackground">
          <img class="calendarimage" src="assets/images/calendar.png" alt="calendar">
          <div class="calendareventgroup">
            <p class="calendareventtitle">Event Title</p>
            <p class="calendareventdetail">24th July, 2020</p>
            <p class="calendareventdetail">Time (ET/Time (PT)</p>
            <p class="calendareventdetail">Zoom</p>
          </div>
        </div>
        <p class="calendareventmonth">Aug</p>
        <p class="calendareventdate" class="botleftnum">21</p>
        <p class="calendareventday">Friday</p>
      </div>
      <div class="bottomgriditem">
        <div style="background-color: rgb(111,207,151);" class="calendarbackground" id="botright">
          <img class="calendarimage" src="assets/images/calendar.png" alt="calendar">
          <div class="calendareventgroup">
            <p class="calendareventtitle">Event Title</p>
            <p class="calendareventdetail">24th July, 2020</p>
            <p class="calendareventdetail">Time (ET/Time (PT)</p>
            <p class="calendareventdetail">Zoom</p>
          </div>
        </div>
        <p class="calendareventmonth">Sept</p>
        <p class="calendareventdate" class="botrightnum">15</p>
        <p class="calendareventday">Friday</p>
      </div>
    </div>
</div>