ion-content{
    transform: translateY(200px);
    max-width: 70%;
}

#body{
    color: white;
}

.header{
    font-family: "Poppins Regular";
    position: absolute;
    width: 25%;
    text-align: center;
    margin-left: 60%;
}
.layer1{
    margin-left: 45%;
    transform: translateY(100px);
}