<div class="container">
  <img src="assets/images/suport-next-generation.png">
  
  <div class="textDiv">
    <div class="outreach-header">
      <div>Mission: Supporting the next</div>
    </div>
    <div class="outreach-header">
      <div>generation of creative thinkers</div>
    </div>
    
    <p>
      At Tiny Techs Club, we create, curate, and offer curriculum in 
      Robotics and Coding to increase awareness of STEM fundamentals 
      in early and young learners. Our knowledge of the industry and our 
      dedicated team allows us to teach in purposeful ways, focused on 
      fostering a positive impact on children and their learning goals. 
    </p>
  </div>
</div>
