

<div class="container">

  <div class="leftDiv">
    <div class="contentDiv">
      <img class="squiggleImg" src="assets/images/lego.png">
      <h1>Learn wherever you want,<br>when you want!</h1>
      <p>
        Learn with our live, instructor-led classes offered via 
        Zoom and Microsoft Teams. Choose from various 
        classes including SCRATCH, Python, and Robotics 
        learning catered for students at various skill 
        levels from beginner to advanced, K-8th grade.
      </p>

      <div class="registerNowDiv">
        <button class="registerNowButton">Register Now</button>
      </div>
    </div>
  </div>
  
  <div class="rightDiv">
    <img src="assets/images/learn-what-you-want-right.png">
  </div>
  
</div>