 
<div class="ttc-body">


  <div class="careers-img-div">
    <img
      class="careers-img"
      src="assets/images/careers-page-header.jpg"
      alt="Header Image"
    />
    <div class="careers-header-container">
      <div class="careers-header-rectangle">
        <div class="careers-header-rectangle-text">
          Become a part of our team
        </div>
      </div>
      <div class="careers-header-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus velit
        adipiscing duis suspendisse sit purus. Faucibus sodales libero integer
        eget mauris nibh odio ullamcorper.
      </div>
    </div>
  </div>


  <!-- <div class="list-div">
    <div class="title">
      <div>Title</div>
      <div class="location">Location</div>
    </div>

    <div  class="main-list-div list-first">
      <div class="list-left-div" (click)="enrichmentInstructor()">Enrichment Instructor</div>
      <di class="list-right-div">Richmond, CA</div>
    </div>
    <div class="form-divider"></div>

    <div class="main-list-div list-others">
      <div class="list-left-div">Designer</div>
      <div class="list-right-div">Remote</div>
    </div>
    <div class="form-divider"></div>

    <div class="main-list-div list-others">
      <div class="list-left-div">Digital Marketer</div>
      <div class="list-right-div">Remote</div>
    </div>
    <div class="form-divider"></div>

    <div class="main-list-div list-others">
      <div class="list-left-div">Administrative Staff</div>
      <div class="list-right-div">Remote</div>
    </div>
  </div> -->

  <div class="list-div">
    <div class="list-title">
      <div class="titleText">Title</div>
      <div class="locationText">Location</div>
    </div>

    <ul>
      <li>
        <div class="jobTitle enrich" (click)="enrichmentInstructor()" >Enrichment Instructor</div>
        <div class="jobLocation" >Richmond, CA</div>
      </li>
      <li>
        <div class="jobTitle">Designer</div>
        <div class="jobLocation" >Remote</div>
      </li>
      <li>
        <div class="jobTitle">Digital Marketer</div>
        <div class="jobLocation" >Remote</div>
      </li>
      <li>
        <div class="jobTitle">Administrative Staff</div>
        <div class="jobLocation" slot = "start">Remote</div>
      </li>
    </ul>
  </div>



  <app-footer></app-footer>

</div>
