
<div class="container">
  <img src="assets/images/lego-robotics-kits.png">
  
  <div class="textDiv">
    <div class="outreach-header">
      <div>LEGO Robotics Kits Designed for you!</div>
    </div>

    <p>
      We’ve curated our own curriculum with input from industry professionals and<br>
      have designed all our lessons with children in mind. They’ll have fun with<br>
      LEGOs, Robotics, SCRATCH and more while we incorporate educational<br>
      concepts into each activity. You can find our exclusive designs on Yantra
    </p>
  </div>
</div>