<div class="container">
  
  <div class="leftDiv">
    <img src="assets/images/our-community-partners-left.png">
  </div>
  
  <div class="rightDiv">
    <div class="contentDiv">
      <h1 style="color: black;">Our Community Partners</h1>
      <p style="color: black;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        A egestas sem lacus, in. At fusce ornare enim tortor. 
        Diam mi morbi diam pellentesque nibh nec maecenas 
        vel. Sit augue molestie tempus ut suscipit quisque. 
        Mauris, sapien sed arcu nulla ipsum non fames.
      </p>

      <div class="learnMoreDiv">
        <button class="learnMoreButton">Learn More</button>
      </div>
    </div>
  </div>
  
</div>
