<div class="menu">
  <div class="menu-content">
    <div class="logo">
      <ion-icon src="assets/images/ttc-logo.svg" id="logo-icon" (click) = "routetoHome()"></ion-icon>
    </div>
    <div class="menu-list" #menu>
      <div
        class="menu-item"
        *ngFor="let menu of menuList; let i = index"
        [class.selected-menu]="menu.isSelected"
        (click)="menuSelected(i)"
        style="
          justify-content: center;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        {{ menu.name }}
      </div>
    </div>
    <div class="cart">
      <ion-icon
        src="assets/images/cart.svg"
        id="cart-icon"
        onclick=""
      ></ion-icon>
    </div>

    <ion-icon
      class="hamburgerMenuButton"
      name="menu-outline"
      (click)="toggleFunction()"
    ></ion-icon>
  </div>
</div>
